@import "./variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.limitToTwoLines {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limits the text to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Adds "..." at the end of truncated text */
}


.card {
    margin-bottom: 1.25rem;
    border-radius: .375rem;
    border-width: 0px;
    border-color: transparent;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-shadow-color: #e2e8f0;
    --tw-shadow: var(--tw-shadow-colored);
}

.card .card-body {
    padding: 1.25rem;
}

.form-input {
    display: block;
    width: 100%;
    border-radius: .375rem;
    border-width: 1px;
    padding: .5rem 1rem;
    font-size: .875rem;
}