@import "./variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.limitToTwoLines {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limits the text to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Adds "..." at the end of truncated text */
}
